<h1>Delete Book</h1>


<div>
    <p>Are you sure you want to delete the book <%= @book.title %>?<p>
    
</div>
  
<%= link_to 'Yes', book_path(@book), method: :delete %>
<%= link_to 'Back', books_path %>